body{
    background-color: #d7dfed;
}
h1{
    text-align: center;
}
#wrapper{
    width: 600px;
    margin: auto;
}
#left, #right{
    min-height: 500px;
    margin-top: 10px;
}
#left{
    width: 15%;
    background-color: #eaf47b;
    float: left;
}
#right{
    width: 85%;
    background-color: #d6f9d9;
    float: right;
}
#txtMessage, #btnChat{
    float: left;
    margin: 1px;
}
#txtMessage{
    width: 70%;
}
#btnChat{
    width: 29%;
}
#title{
    background-color: #ccf900;
    text-align: center;
    padding: 5px;
}
.motUser{
    margin: 5px;
}
.hoten{
    color: red;
    font-weight: bold;
}
#dsMsg{
    height: 450px;
    overflow-y: scroll;
    clear: both;
}